@font-face {
   font-family: 'Muli-Regular';
   font-display: swap;
   src: url('file:///C:/Users/jemla/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-04_115656/fonts/Muli-Regular/font.ttf');
}
